/* LAYOUT */
.layout {display: flex;flex-direction:column;justify-content: space-between;height:100vh;}

/* HEADER */
.header {width: 100%;display: flex;flex-direction: row;justify-content: space-between;}
.header .nav{display: flex;flex-direction: row;justify-content: center;align-items: center;padding:40px;}
.header .nav li {display: flex;padding:0 40px 0 0;}
.header a {border-bottom:none;}
.header .header_div {display: flex;flex-direction: row;justify-content: center;align-items: center;}
.header .header_div .mode {display: flex;padding:40px;margin: -20px 0 0 0;}
.header .header_div .mode .button_mode{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  color: var(--fg);
  border: none;
  background-color: var(--fg);
  cursor:pointer;
}

.search input {min-width: 276px;}
.search_result {padding:2rem 0;}

/* MAIN */
.main {padding: 4rem 0;}

/* BIO */
.section {padding:40px;max-width: 600px;}
.section p {margin: 0 0 1rem;}
.section a {border-bottom: solid 1px var(--link);}
.section h1{cursor: pointer;}
.section h1 span {display: none;}
.section h1:hover span {display: inline;}

/* BLOG */
.blog {padding:40px;}
.post {display:flex;flex-direction: row;max-width: 600px;}
.post h3 {margin:0;}
.post_body {max-width: 600px;}
.post_body h1 {font-size:  1.75rem;}
.post_body h2 {font-size:  1.5rem;}
.post_body h3 {font-size:  1.375rem;}
.post_body h4 {font-size:  1.25rem;}
.post_body h5 {font-size:  1.125rem;}
.post_body h6 {font-size:  1rem;}
.post_body p {margin: 0 0 2rem;}
.post_body p a {color: var(--link);}
.post_body li {list-style-type: disc;}

.date {margin: 0 0 0 2rem;}
.tags {margin: 0 0 0 2rem;}
.post_cat {margin: 0 0 0 1rem;}

.post_header {margin:0 0 2rem;}
.post_title {margin: 0;}



/* WORK */
.connect {padding:2rem;}
.connect a {margin: 0 2rem 0 0;}

/* FOOTER */
.footer {display:flex;padding:40px;}

@media (max-width: 600px) {
  .footer {position:relative;display:block;width:100%;}
  .likes {padding:2rem;max-width: 1100px;display: grid; grid-template-columns: 1fr;}
}
